$font-family: 'Satoshi Variable';

$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-large: 13px;
$font-size-extra-large: 16px;
$font-size-title: 24px;
$font-size-h3: 28px;
$font-size-h2: 46px;

$font-weight-regular: 480;
$font-weight-medium: 580;
$font-weight-bold: 800;