@import "@assets/scss/common";

.leftBarContainer {
  @include translate-leaner;
  background-color: $color-bg-left-nav;
  width: $width-left-bar-large;
  padding: 32px 16px 16px;
  height: 100%;
  max-height: calc(100vh - $header-height);
  min-height: calc(100vh - $header-height);
  @include scrollbar-vertical-auto;
  @include tablet {
    & {
      width: $width-left-bar-small;
    }
  }
}

.innerContainer {
  height: 100%;

}